.curved-loop-jacket {
    min-height: auto; /*100vh */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    pointer-events: none;
  }
  
  .curved-loop-svg {
    pointer-events: auto;
    user-select: none;
    width: 100%;
    aspect-ratio: 100 / 12;
    overflow: visible;
    display: block;
    font-size: 6rem;
    fill: #ffffff;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    font-weight: 700;
    text-transform: uppercase;
    line-height: 1;
  }
  